<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SampleExam02/src/org/stu/sampleexam02/_02OddEvenSum.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.stu.sampleexam02._02OddEvenSum"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SampleExam02"/>
</launchConfiguration>
